ul.optionset {
	list-style: none !important;
	padding-left: 0px !important;
	margin-left: 0px !important; 
}

.holder-required {
    background-color:#ffb8b8;
}

.message.bad,.message.validation{ 
	background-color:#FFDFDF;
	color: 000;
	padding:3px 0px;
}

.message.good{ 
	background-color:#8FBC8F;
	color: 000;
	padding:3px 0px;
}
.message.fail{ 
	padding:10px;
    margin: 10px 10px 0;
    border: 1px solid #FFF;
	color: #DA1D1D;
    background: #FFDFDF;
    border-color: #FFBBBB;
}

.message .success{ 
	padding:10px;
    margin: 10px 10px 0;
    border: 1px solid #FFF;
	color:#3E933A;
    background:#E2F7D8;
    border-color:#9FDE9C;
}
.message.success{ 
	padding:10px;
    margin: 10px 10px 0;
    border: 1px solid #FFF;
	color:#3E933A;
    background:#E2F7D8;
    border-color:#9FDE9C;
}

input[type="Text"],input[type="Email"],input[type="Password"],textarea{
	border: solid 1px #CCCCCC;
}


/* Registration form */

.signup_box { 
	width:380px;
	padding:0px 0px 10px 0px;
}

.signup_box h3{ text-align:center !important;}

#Form_RegistrationForm #Email label,
#Form_RegistrationForm .password label,
#Form_RegistrationForm .password label 
{ 
	width:140px;
	display:inline-block;
}

#Form_RegistrationForm #Email .middleColumn, 
#Form_RegistrationForm .password .middleColumn, 
#Form_RegistrationForm .password .middleColumn {
    display: inline-block;
}

#Form_RegistrationForm .Actions{
	margin-left:200px;
}

#Form_RegistrationForm .field { 
	padding-bottom:10px;
}

/* Login form below header */

#LoginFormBody #CustomLogin_LoginForm #Email label,
#LoginFormBody #CustomLogin_LoginForm .password label
{ 
	width:110px;
	display:inline-block;
}

#LoginFormBody #CustomLogin_LoginForm #Email .middleColumn, 
#LoginFormBody #CustomLogin_LoginForm .password .middleColumn{
    display: inline-block;
}

#LoginFormBody #CustomLogin_LoginForm .field { 
	padding-bottom:10px;
}

#LoginFormBody #CustomLogin_LoginForm_error.bad, #ChangePasswordForm_ChangePasswordForm_error.bad,#CustomLogin_LostPasswordForm_error.bad { 
	padding:10px;
    margin: 10px 10px 0;
    border: 1px solid #FFF;
    color: #DA1D1D;
    background: #FFDFDF;
    border-color: #FFBBBB;
    display:block !important;
}

/* Edit profile form */

#Form_EditProfileForm{margin-top: 10px;}

#Form_EditProfileForm label  
{ 
	width:140px;
	display:inline-block;
}

#Form_EditProfileForm .middleColumn
{
    display: inline-block;
}

#Form_EditProfileForm input{
	width: inherit;
}

#Form_EditProfileForm input[type="Image"]{
	border: none;
}

#Form_EditProfileForm .Actions{
	margin-left:215px;
}

#Form_EditProfileForm .field { 
	padding-bottom:10px;
}

/* Contact Us form */

#Form_ContactUsForm label  
{ 
	width:140px;
	display:inline-block;
}

#Form_ContactUsForm #Message label  
{ 
	position: relative;
    top: -70px;
}

#Form_ContactUsForm .middleColumn
{
    display: inline-block;
}

#Form_ContactUsForm input[type="Text"],#Form_ContactUsForm input[type="Email"],#Form_ContactUsForm textarea{
	width: 240px;
}

#Form_ContactUsForm input[type="Image"]{
	border: none;
}

#Form_ContactUsForm .Actions{
	margin-left:375px;
}

#Form_ContactUsForm .field { 
	padding-bottom:10px;
}

#Form_ContactUsForm #MyCaptcha { 
	margin-left: 142px;
}


/* Lost Password form */

#CustomLogin_LostPasswordForm label  
{ 
	width:140px;
	display:inline-block;
}


#CustomLogin_LostPasswordForm .middleColumn
{
    display: inline-block;
}

#CustomLogin_LostPasswordForm input[type="text"]{
	width: 240px;
}

#CustomLogin_LostPasswordForm input[type="Image"]{
	border: none;
}

#CustomLogin_LostPasswordForm .Actions{
	margin-left:288px;
}

/* Change Password form */

#ChangePasswordForm_ChangePasswordForm label  
{ 
	width:140px;
	display:inline-block;
}


#ChangePasswordForm_ChangePasswordForm .middleColumn
{
    display: inline-block;
}

#ChangePasswordForm_ChangePasswordForm input[type="Password"]{
	width: 240px;
}

#ChangePasswordForm_ChangePasswordForm input[type="Image"]{
	border: none;
}

#ChangePasswordForm_ChangePasswordForm .Actions{
	margin-left:288px;
}

#ChangePasswordForm_ChangePasswordForm .field { 
	padding-bottom:10px;
}


/* Trial Sign-up form */


#Form_TrialSignupForm label 
{ 
	width:140px;
	display:inline-block;
}

#Form_TrialSignupForm_CreditCardType label,
#Form_TrialSignupForm_ExpirationMonth,
#Form_TrialSignupForm_ExpirationYear,
#Form_TrialSignupForm_SubscriptionType label,
#Agreement label
{
	width:inherit !important;
}

#Agreement label
{
	display:inline;
}

#CVVCode{
	display:inline-block;
}

#WhatsThis{
	display:inline-block;
}


#Form_TrialSignupForm .middleColumn
{ 
	display: inline-block;
}

#Form_TrialSignupForm .field { 
	padding:5px;
}


#Form_TrialSignupForm input[type="text"],
#Form_TrialSignupForm input[type="Email"],
#Form_TrialSignupForm input[type="Password"],
#Form_TrialSignupForm select {
	width:250px;
}

/* Prepaid Sign-up form */

#Form_PrepaidSignupForm label 
{ 
	width:140px;
	display:inline-block;
}

#Form_PrepaidSignupForm_CreditCardType label,
#Form_PrepaidSignupForm_ExpirationMonth,
#Form_PrepaidSignupForm_ExpirationYear,
#Form_PrepaidSignupForm_SubscriptionType label
{
	width:inherit !important;
}

#Form_PrepaidSignupForm .middleColumn
{ 
	display: inline-block;
}

#Form_PrepaidSignupForm .field { 
	padding:5px;
}


#Form_PrepaidSignupForm input[type="text"],
#Form_PrepaidSignupForm input[type="Email"],
#Form_PrepaidSignupForm input[type="Password"],
#Form_PrepaidSignupForm select {
	width:250px;
}

#Form_PrepaidSignupForm #quantity {
	width:inherit;
}

#Form_PrepaidSignupForm #Password .field {
	padding-left:inherit;
}

/* Validation errors */

input.error{
	height: 17px;
    padding: 0px;
}

label.error{
	width: 70px !important;
	padding-top:0px !important;
	padding-left:5px !important;
	color: rgb(255, 0, 0);
}